*{
    margin: 0%;
    padding: 0%;
    max-height:720px;
    
    font-family:'Roboto';
}
.logobox{
    width: 100%;
    display: flex;
    justify-content: center;
}
.logo{
    align-items: center;
    border-radius:10%;
    height: 30%;
    width: 30%;
    min-height: 140px;
    min-height: 140px;
}
.titulo{
    padding:1.5%;
    text-align: center;
    font-size: xx-large;    
    color: #d5d8df; 
}
.resumen{
    width: 100%;
    display: flex;
    justify-content: center;
     
}
.text{
    width: 50%;
    height: 30%;
    justify-content: center;
    text-align: center;
    font-size: xx-large;
    color: #d5d8df; 
    min-width: 300px;
    min-height: 50px;
}
.botonera{
    justify-content: center;
    padding: 1%;
    display: grid;
    grid-template-columns: 95%;
    grid-template-rows: repeat(2, 200%);
    grid-column-gap: 0px;
    grid-row-gap: 20%;
    
}
a{
    background-color: #182b50;
    color: aliceblue;
    font-size: x-large;
    text-decoration: none;
    text-align: center;
    border-radius:15px;
}

a:hover{
    color: black;
}
a:visited{
    color: aliceblue;
}
