*{
    margin: 0%;
    padding: 0%;
    max-height:720px;
}
.logobox{
    width: 100%;
    display: flex;
    justify-content: center;
}
.logo{
    align-items: center;
    border-radius:10%;
    height: 30%;
    width: 30%;
}
.titulo{
    padding:1.5%;
    text-align: center;
    font-size: xx-large;    
    color: #d5d8df; 
}
.resumen{
    width: 100%;
    display: flex;
    justify-content: center;
     
}
.text{
    width: 50%;
    height: 30%;
    justify-content: center;
    text-align: center;
    font-size: xx-large;
    color: #d5d8df; 
}
.botonera{
    margin-top: 5px;
    text-align: center;
    align-content: center;
    padding: 5%;
}
button{
    margin:0.5%;
    height:100px;
    width: 95%;
    background-color: #182b50;
    color: aliceblue;
    font-size: large;
}
a{
    color: #d5d8df;
    text-decoration: none;
}
a:active{
    color: black;
    background-color: white;
}
a:visited{
    color: aliceblue;
}
