*{
    margin: 0%;
    padding: 0%;
    max-height:720px;
    
    font-family:'Roboto';
}
.logobox{
    width: 100%;
    display: flex;
    justify-content: center;
}
.logo{
    align-items: center;
    border-radius:10%;
    height: 30%;
    width: 30%;
    min-height: 140px;
    min-height: 140px;
}
.titulo{
    padding:1.5%;
    text-align: center;
    font-size: xx-large;    
    color: #d5d8df; 
}
.resumen{
    width: 100%;
    display: flex;
    justify-content: center;
     
}
.text{
    width: 50%;
    height: 30%;
    justify-content: center;
    text-align: center;
    font-size: xx-large;
    color: #d5d8df; 
    min-width: 300px;
    min-height: 50px;
}
.botonera{
    justify-content: center;
    padding: 2%;
    display: grid;
}
a{
    background-color: #182b50;
    color: aliceblue;
    text-decoration: none;
    text-align: center;
    border-radius: 15px;
    font-size: 50px;
    padding: 1%;
    margin: 5px;
}

a:hover{
    color: black;
}

@media (max-width: 480px) {
    .text {
        font-size: 24px; /* Tamaño del texto para móviles */
    }
    a{
        font-size: 20px;
        padding: 5%;
    }
    .logo{
        width: 300px;
        
    }
}

